body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

h1, h2, h3 {
    margin: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.article {
    border: 1px solid black;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.article img {
    max-width: 100%;
    height: auto;
    align: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
